
.naslov{
    size:3em;
    padding-top: 15px;
    padding-bottom: 12px;
    margin: 0cm;
    background-image:linear-gradient(to right, #498fff,white) ;
    color: antiquewhite;
    font-weight: bold;
    font-size: 2em;
    margin-top: 0cm;
    text-align: left;
    width: 100%;
    padding-left: 5%;
}

.HomePage{
    height: 100%;
    padding-bottom: 3em;
    
}

.body{
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.prijavljeniincident{
    width: 70%;
    margin-left: 15%;
    margin-top:2em;
    display: inline-block;
    padding-bottom: 0.6em;
    border-bottom:solid 2px #498fff;
}
.naziv{
    width: 100%;
}

.incident{
    background-image:linear-gradient( to right, #498fff,#afceff) ;
    color:white;
    font-size: 15px;
    font-weight: bold;
    border: 0;
    border-radius: 10px;
    padding: 0.5em;
    float: right;
    width: 10em;
    height:3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left:7px
    
}

.incident:hover{
    background-image:linear-gradient( to right, #1963da,#5e9cff)
}

.incident:active{
    background-image:linear-gradient( to right, #f0f0f0,#8cb2f0);
    border: 2px solid #1963da;
    color: #1963da
}

.kontrolselect{
    width: 50%;
}